{% extends 'common/base.html' %}
{% from 'common/macro.html' import pagination_show%}
{% block title %}
    首页
{% endblock %}

{% block page_content %}
    {{ wtf.quick_form(form) }}
    {% for post in posts %}
        <div class="media" style="width: 70%">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object" src="{{ url_for('static',filename='upload/'+post.user.icon) }}" alt="用户头像">
                </a>
            </div>
            <div class="media-body">
                <div style="float: right">{{ moment(post.timestamp).fromNow() }}</div>
                <h4 class="media-heading">{{ post.user.username }}</h4>
                {{ post.content }}
            </div>
        </div>
    {% endfor %}
    {{ pagination_show(pagination,'main.index') }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}